{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="column">
            Contains content which extends duolingo's app. You can find it on <a href="https://github.com/cramja/lingo-duo">github</a>.
        </div>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Games">
        <a href="gender">
            <button type="button" class="btn btn-secondary"
                    aria-label="Gender is not a spectrum, there are 4: None, Masculine, Feminine, and Neuter">Gender
            </button>
        </a>
        <a href="words">
            <button type="button" class="btn btn-secondary">Word List</button>
        </a>
    </div>
</div>
{% endblock %}